body{ 
    background:#6e6862;
    padding:0; margin: 0; }

a{text-decoration: none; color:#ede4e4;}

.nav{
	position: absolute;
    display: flex;
    align-items: center;
    flex-wrap: wrap;		
	top: 0;
	left: 0;
    width: 100%;
    font-family: Trajan;
}
.bg{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 2;
}
.uc_pic{
    position: absolute;    
    top:78vh; 
    left: 4vw;
    z-index: 1;
}

@media all and (orientation:portrait) {
    .nav { flex-direction:column; justify-content: center;}
    .bg {opacity: 0;}
    .uc_pic{ width: 22vw;}
}        
@media all and (orientation:landscape) {
    .nav {flex-direction:row; justify-content: left;}
    .bg {opacity: 0.4;}
    .uc_pic{ width: 8vw;}

}

.nav .item {margin: 2% 2% 2% 2%; z-index: 3; display: flex; align-items: center; }
.nav .item .item_inner {
    margin: 2% 2% 2% 2%;
    padding: 3% 3% 3% 3%; 
    color:#ede4e4;
    text-decoration: none; 
    border: #6e6862; border-style: dashed; 
    border-width: 1px; border-radius: 8px;}

.nav .item .item_inner1 {
        margin: 4% 4% 0% 0%;         
        color:#ede4e4;
        text-decoration: none;
             
       }

.txt {
    top:50vh; 
    left: 10vw;
    z-index: 3; 
    position:absolute;
}

.speaker {
    height: 30px;
    width: 30px;
    position: absolute;
    overflow: hidden;
    display: inline-block;
    top:82vh; 
    left: 90vw;
    z-index: 3;     
  }
  .speaker span {
    display: block;
    width: 8px;
    height: 8px;
    background: #ede4e4;
    margin: 11px 0 0 2px;       
}
  .speaker span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent#ede4e4 transparent transparent;
    border-width: 10px 14px 10px 15px;
    left: -13px;
    top: 5px;
  }
  .speaker span:before {
    transform: rotate(45deg);
    border-radius: 0 50px 0 0;
    content: '';
    position: absolute;
    width: 5px;
    height: 5px;
    border-style: double;
    border-color: #ede4e4;
    border-width: 7px 7px 0 0;
    left: 18px;
    top: 9px;
    transition: all 0.2s ease-out;
  }
  .speaker:hover span:before {
    transform: scale(0.8) translate(-3px, 0) rotate(42deg);
  }
  .speaker.mute span:before {
    transform: scale(0.5) translate(-15px, 0) rotate(36deg);
    opacity: 0;
  }
  
  
 