body{padding:0; margin: 0;}

.nav{
	position: absolute;
	display: flex;
	justify-content: left;
	align-items: center;
	top: 0;
	left: 0;
	width: 100%;	
}

.nav .bg{
 	position: absolute;
 	top: 0;
 	left: 0;
 	width: 100%;
 	height: 100%;
	background: black;
	opacity: 0.1;
	z-index: 2;
 }

.nav .item {margin: 1% 2% 1% 2%; z-index: 3; font-family: Trajan;}

.nav ul {list-style: none; 
	display: flex;
    
}

.nav .item a:hover {color:white;text-decoration: none;}
.nav ul a:hover {color:white;text-decoration: none;}

.nav li {padding: 0% 3% 0% 3%; }

.nav li a {
    color: black;
	
    font-family: Trajan;
	
	font-size: 1em;
	text-decoration: none;
}
.nav ul li .border{
	position: absolute;	
	border: 2pt solid black;	
	transition: width .2s, left .2s;
}

.nav .bg_up{
    position: relative;
    float: right;
    width: 36%;    
}
.nav .bg_up .col1{
    float: right;
    line-height: 1.4em;
    padding: 2% 1%;

}
.nav .bg_up .col2{
    float: right;
    line-height: 1.3em;
    font-size: 1.3em;
    padding: 3% 1%;

}
.nav .sk_wrap{
    float: left;
    width: auto;
    padding: 2.5% 0;
}
.nav .bg_up a {
    color: black;
 	font-family: MS Sans,sans-serif;
    text-decoration: none;
}
.nav .bg_up a:hover{color:white;text-decoration: none;}


.sec_container{
    margin: 10% 0%;
}

.l {  width: 45%;
padding: 0% 0% 0% 4%;
}
.r {  height: 42em;
	float: right;
}
.sec_container2{
    padding: 2% 0% 0% 0%;
}

.fp_div{
    float: left;
    width: 40em;
    padding: 2% 0% 0% 0%;
}
.fp_head{
    text-align: center;
    font-size: 1.8em;
    font-weight: 700;
	text-transform: uppercase;
    color:black;
    padding: 0% 0% 0% 5%;
}

.fp_head2{
    font-size: 1.8em;
    font-weight: 700;
	text-transform: uppercase;
    color: black;
}
.fp_bot{
    text-align: center;
    font-size: 1.5em;
	line-height: 1.5em;
    color: black;
    margin: 0% 0% 0% 5%;
}
.fp_bot_2{
    font-size: 0.9em;
}
.mp_req{
    font-size: 1.5em;
	line-height: 1.5em;
    color: black;
    padding: 0.3% 6%;
}

.mp_req2{
    font-size: 0.8em;
	line-height: 0.8em;
}
.mp_req a:hover{
	color: black;
}
.mp_req a{
    color: black;
    text-decoration: none;
 	font-family: MS Sans,sans-serif;
	cursor: pointer;
}
.span_format{
    color: black;
}